<section id="call" class="bg-mid-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Call for Papers</h2>
        <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-md-12">
        <p class="large text-muted">
          This workshop welcomes submissions from both academia and industry
          researchers relevant to interactive recommender systems. Topics of
          interests include but are not limited to:
        </p>
        <ul class="large text-muted">
          <ul>
            <li>Bandit learning for interactive recommender systems</li>
            <li>
              Deep reinforcement learning for interactive recommender systems
            </li>
            <li>Conversational recommender systems</li>
            <li>Multi-modal conversational recommender systems</li>
            <li>Critiquing-based recommender systems</li>
            <li>Human decision making in interactive recommender systems</li>
            <li>Human-recommender interaction in recommender systems</li>
            <li>Fairness in interactive recommender systems</li>
            <li>Diversified interactive recommender systems</li>
            <li>Explanatory interactive recommender systems</li>
            <li>Knowledge-enhanced interactive recommender systems</li>
            <li>Personalized interaction mechanism design</li>
            <li>User simulation for interactive recommender systems</li>
            <li>Methodology for evaluating interactive recommender systems</li>
          </ul>
        </ul>
        <p class="large text-muted">
          Submissions must be in PDF, up to 8 pages long (plus unlimited pages
          for references), and shorter papers are also welcome. All manuscripts
          should be formatted according to the new ACM format published in ACM
          guidelines, selecting the generic “sigconf” sample. Papers can be
          submitted through <a href="https://easychair.org/my/conference?conf=irswsdm23">easychair</a>.
        </p>

        <p class="large text-muted">
          All submitted papers will be peer reviewed by the program committee.
          Accepted submissions will be presented at the workshop and published
          on the workshop’s website, but will not be archived.
        </p>
      </div>
    </div>
  </div>
</section>
